@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3.9rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.24rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.6rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.16rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.3rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.08rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.12rem;
    font-size: calc( 2.0149999999999997rem + (3.9 - 2.0149999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.0149999999999997rem + (3.9 - 2.0149999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #605ca8 !important;
}
.bg-success {
  background-color: #222d32 !important;
}
.bg-info {
  background-color: #484581 !important;
}
.bg-warning {
  background-color: #ecf0f5 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #605ca8 !important;
  border-color: #605ca8 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #434078 !important;
  border-color: #434078 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #434078 !important;
  border-color: #434078 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #605ca8 !important;
  border-color: #605ca8 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #434078 !important;
  border-color: #434078 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #434078 !important;
  border-color: #434078 !important;
}
.btn-info,
.btn-info:active {
  background-color: #484581 !important;
  border-color: #484581 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #2c2a4f !important;
  border-color: #2c2a4f !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2c2a4f !important;
  border-color: #2c2a4f !important;
}
.btn-success,
.btn-success:active {
  background-color: #222d32 !important;
  border-color: #222d32 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #030404 !important;
  border-color: #030404 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #030404 !important;
  border-color: #030404 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ecf0f5 !important;
  border-color: #ecf0f5 !important;
  color: #4e6d94 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #4e6d94 !important;
  background-color: #bac8db !important;
  border-color: #bac8db !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #4e6d94 !important;
  background-color: #bac8db !important;
  border-color: #bac8db !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #3a3767;
  color: #3a3767;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #605ca8;
  border-color: #605ca8;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #605ca8 !important;
  border-color: #605ca8 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #3a3767;
  color: #3a3767;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #605ca8;
  border-color: #605ca8;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #605ca8 !important;
  border-color: #605ca8 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #23213f;
  color: #23213f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #484581;
  border-color: #484581;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #484581 !important;
  border-color: #484581 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #222d32;
  border-color: #222d32;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #222d32 !important;
  border-color: #222d32 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #a9bbd2;
  color: #a9bbd2;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #4e6d94;
  background-color: #ecf0f5;
  border-color: #ecf0f5;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #4e6d94 !important;
  background-color: #ecf0f5 !important;
  border-color: #ecf0f5 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #605ca8 !important;
}
.text-secondary {
  color: #605ca8 !important;
}
.text-success {
  color: #222d32 !important;
}
.text-info {
  color: #484581 !important;
}
.text-warning {
  color: #ecf0f5 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #3a3767 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #3a3767 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #23213f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a9bbd2 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #484581;
}
.alert-warning {
  background-color: #ecf0f5;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #605ca8;
  border-color: #605ca8;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #605ca8;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b1afd4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d6dfe3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #8a87bf;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #605ca8;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #605ca8;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #605ca8;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #605ca8;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #605ca8;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qRFTOqZVwC .navbar {
  background: #605ca8;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qRFTOqZVwC .navbar-dropdown.bg-color.transparent.opened {
  background: #605ca8;
}
.cid-qRFTOqZVwC a {
  font-style: normal;
}
.cid-qRFTOqZVwC .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qRFTOqZVwC .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qRFTOqZVwC .nav-item:focus,
.cid-qRFTOqZVwC .nav-link:focus {
  outline: none;
}
.cid-qRFTOqZVwC .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qRFTOqZVwC .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qRFTOqZVwC .menu-logo {
  margin-right: auto;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu {
  background: #605ca8;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qRFTOqZVwC .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qRFTOqZVwC .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qRFTOqZVwC button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qRFTOqZVwC button.navbar-toggler:focus {
  outline: none;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRFTOqZVwC .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qRFTOqZVwC .collapsed .btn {
  display: flex;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qRFTOqZVwC .collapsed button.navbar-toggler {
  display: block;
}
.cid-qRFTOqZVwC .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qRFTOqZVwC .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qRFTOqZVwC.navbar-expand {
    flex-direction: column;
  }
  .cid-qRFTOqZVwC img {
    height: 3.8rem !important;
  }
  .cid-qRFTOqZVwC .btn {
    display: flex;
  }
  .cid-qRFTOqZVwC button.navbar-toggler {
    display: block;
  }
  .cid-qRFTOqZVwC .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qRFTOqZVwC .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qRFTOqZVwC .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing,
  .cid-qRFTOqZVwC .navbar-collapse.show {
    display: block !important;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-nav,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-buttons,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qRFTOqZVwC .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qRFTOqZVwC .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qRFTOqZVwC .navbar-collapse {
  flex-basis: auto;
}
.cid-qRFTOqZVwC .nav-link:hover,
.cid-qRFTOqZVwC .dropdown-item:hover {
  color: #ffffff !important;
}
.cid-qRK2NjsDjS {
  padding-top: 120px;
  padding-bottom: 45px;
  background-image: url("../img/ac-plenario-vazio-foto-antonio-cruz-18122015.jpg");
}
.cid-qRK2NjsDjS .mbr-section-subtitle {
  color: #ecf0f5;
}
.cid-qRK2NjsDjS .formoid {
  margin: auto;
}
.cid-qRK2NjsDjS .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-qRK2NjsDjS a.btn {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}
.cid-qRK2NjsDjS .input-group-btn {
  align-self: center;
  -webkit-align-self: center;
  z-index: 3;
}
.cid-qRK2NjsDjS .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.cid-qRK2NjsDjS a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-qRK2NjsDjS a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qRK2NjsDjS .mbr-subscribe .input-group-btn {
  display: inline-block;
}
.cid-qRK2NjsDjS .mbr-subscribe .input-group-btn button,
.cid-qRK2NjsDjS .mbr-subscribe .input-group-btn a {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@media (max-width: 350px) {
  .cid-qRK2NjsDjS .mbr-subscribe {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qRK2NjsDjS input[type="email"] {
    width: 100%;
    margin-bottom: 2px;
  }
  .cid-qRK2NjsDjS .input-group-btn {
    width: 100%;
  }
  .cid-qRK2NjsDjS .input-group-btn .btn {
    border-radius: 3px;
  }
}
@media (max-width: 768px) {
  .cid-qRK2NjsDjS .input-group-btn a.btn {
    width: 100%;
  }
  .cid-qRK2NjsDjS .input-group-btn {
    width: calc(92%);
  }
  .cid-qRK2NjsDjS .input-group-btn button[type="submit"] {
    width: 100%;
  }
  .cid-qRK2NjsDjS .input-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    max-width: 300px;
  }
  .cid-qRK2NjsDjS .input-group input[type="email"] {
    width: 100%;
    margin-bottom: 3px;
  }
  .cid-qRK2NjsDjS .input-group span {
    display: inline;
    padding-left: 0;
    padding-right: 0;
  }
  .cid-qRK2NjsDjS .input-group-btn button,
  .cid-qRK2NjsDjS .input-group-btn a {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 769px) {
  .cid-qRK2NjsDjS .mbr-subscribe > * {
    margin: 0 0.5rem;
  }
}
.cid-qRK2NjsDjS H2 {
  color: #ffffff;
}
.cid-qRK2NjsDjS B {
  color: #ecf0f5;
}
.cid-qRJWIf9Uo6 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ecf0f5;
}
.cid-qRJWIf9Uo6 .media-container-row {
  flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-qRJWIf9Uo6 .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qRJWIf9Uo6 .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qRJWIf9Uo6 .mbr-text {
    text-align: center;
  }
}
.cid-qRJWIf9Uo6 H1 {
  color: #465052;
}
.cid-qRJWIf9Uo6 .mbr-text,
.cid-qRJWIf9Uo6 .mbr-section-btn {
  color: #465052;
}
.cid-qRJWIf9Uo6 B {
  color: #484581;
}
.cid-qRFSToaF23 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #605ca8;
}
.cid-qRFSToaF23 .mbr-section-subtitle {
  color: #ecf0f5;
  font-weight: 300;
}
.cid-qRFSToaF23 .number-wrap {
  color: #ecf0f5;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-qRFSToaF23 .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #ecf0f5;
}
.cid-qRFSToaF23 .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-qRFSToaF23 .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: block;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #ecf0f5;
}
.cid-qRFSToaF23 .countdown-cont {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qRFSToaF23 .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-qRFSToaF23 .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-qRFSToaF23 .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .cid-qRFSToaF23 .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-qRFSToaF23 .number,
  .cid-qRFSToaF23 .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-qRFSToaF23 .period {
    font-size: 0.8rem;
  }
}
.cid-qRFSToaF23 H2 {
  color: #ffffff;
}
.cid-qRFSToaF23 B {
  color: #ecf0f5;
}
.cid-qRJZ3eKNlf {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ecf0f5;
}
.cid-qRJZ3eKNlf h3 {
  text-align: center;
}
.cid-qRJZ3eKNlf .mbr-section-subtitle {
  color: #465052;
  font-weight: 300;
}
.cid-qRJZ3eKNlf .mbr-content-text {
  color: #767676;
}
.cid-qRJZ3eKNlf .panel-item {
  background: #ffffff;
}
.cid-qRJZ3eKNlf .card {
  word-wrap: break-word;
}
.cid-qRJZ3eKNlf .mbr-iconfont {
  font-size: 80px;
  color: #149dcc;
}
.cid-qRJZ3eKNlf .mbr-section-title {
  color: #465052;
}
.cid-qRJZ3eKNlf .mbr-section-title B {
  color: #484581;
}
.cid-qRJZ3eKNlf H3 {
  color: #465052;
}
.cid-qRJZ3eKNlf H4 {
  color: #465052;
}
.cid-qRGh6yOpv4 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #484581;
}
@media (max-width: 767px) {
  .cid-qRGh6yOpv4 .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qRGh6yOpv4 .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-qRGh6yOpv4 .media-wrap img {
  
}
.cid-qRGh6yOpv4 .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-qRGh6yOpv4 .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qRGh6yOpv4 .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-qRGh6yOpv4 .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qRGh6yOpv4 .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-qRGh6yOpv4 .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qRGh6yOpv4 .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qRGh6yOpv4 .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qRGh6yOpv4 .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qRGh6yOpv4 .copyright > p {
  color: #ecf0f5;
}
.cid-qRFTOqZVwC .navbar {
  background: #605ca8;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qRFTOqZVwC .navbar-dropdown.bg-color.transparent.opened {
  background: #605ca8;
}
.cid-qRFTOqZVwC a {
  font-style: normal;
}
.cid-qRFTOqZVwC .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qRFTOqZVwC .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qRFTOqZVwC .nav-item:focus,
.cid-qRFTOqZVwC .nav-link:focus {
  outline: none;
}
.cid-qRFTOqZVwC .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qRFTOqZVwC .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qRFTOqZVwC .menu-logo {
  margin-right: auto;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu {
  background: #605ca8;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qRFTOqZVwC .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qRFTOqZVwC .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qRFTOqZVwC button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qRFTOqZVwC button.navbar-toggler:focus {
  outline: none;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRFTOqZVwC .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qRFTOqZVwC .collapsed .btn {
  display: flex;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qRFTOqZVwC .collapsed button.navbar-toggler {
  display: block;
}
.cid-qRFTOqZVwC .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qRFTOqZVwC .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qRFTOqZVwC.navbar-expand {
    flex-direction: column;
  }
  .cid-qRFTOqZVwC img {
    height: 3.8rem !important;
  }
  .cid-qRFTOqZVwC .btn {
    display: flex;
  }
  .cid-qRFTOqZVwC button.navbar-toggler {
    display: block;
  }
  .cid-qRFTOqZVwC .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qRFTOqZVwC .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qRFTOqZVwC .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing,
  .cid-qRFTOqZVwC .navbar-collapse.show {
    display: block !important;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-nav,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-buttons,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qRFTOqZVwC .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qRFTOqZVwC .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qRFTOqZVwC .navbar-collapse {
  flex-basis: auto;
}
.cid-qRFTOqZVwC .nav-link:hover,
.cid-qRFTOqZVwC .dropdown-item:hover {
  color: #ffffff !important;
}
.cid-qRKDq0puBd {
  padding-top: 120px;
  padding-bottom: 30px;
  background-image: url("../img/ac-plenario-vazio-foto-antonio-cruz-18122015.jpg");
}
.cid-qRKDq0puBd H2 {
  text-align: left;
  color: #ecf0f5;
}
.cid-qRKDq0puBd .mbr-section-subtitle {
  text-align: left;
}
.cid-qRKDr19pgl {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #484581;
}
@media (max-width: 767px) {
  .cid-qRKDr19pgl .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qRKDr19pgl .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-qRKDr19pgl .media-wrap img {
  
}
.cid-qRKDr19pgl .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-qRKDr19pgl .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qRKDr19pgl .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-qRKDr19pgl .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qRKDr19pgl .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-qRKDr19pgl .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qRKDr19pgl .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qRKDr19pgl .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qRKDr19pgl .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qRKDr19pgl .copyright > p {
  color: #ecf0f5;
}
.cid-qRFTOqZVwC .navbar {
  background: #605ca8;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qRFTOqZVwC .navbar-dropdown.bg-color.transparent.opened {
  background: #605ca8;
}
.cid-qRFTOqZVwC a {
  font-style: normal;
}
.cid-qRFTOqZVwC .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qRFTOqZVwC .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qRFTOqZVwC .nav-item:focus,
.cid-qRFTOqZVwC .nav-link:focus {
  outline: none;
}
.cid-qRFTOqZVwC .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qRFTOqZVwC .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qRFTOqZVwC .menu-logo {
  margin-right: auto;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu {
  background: #605ca8;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qRFTOqZVwC .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qRFTOqZVwC .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qRFTOqZVwC button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qRFTOqZVwC button.navbar-toggler:focus {
  outline: none;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRFTOqZVwC .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qRFTOqZVwC .collapsed .btn {
  display: flex;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qRFTOqZVwC .collapsed button.navbar-toggler {
  display: block;
}
.cid-qRFTOqZVwC .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qRFTOqZVwC .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qRFTOqZVwC.navbar-expand {
    flex-direction: column;
  }
  .cid-qRFTOqZVwC img {
    height: 3.8rem !important;
  }
  .cid-qRFTOqZVwC .btn {
    display: flex;
  }
  .cid-qRFTOqZVwC button.navbar-toggler {
    display: block;
  }
  .cid-qRFTOqZVwC .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qRFTOqZVwC .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qRFTOqZVwC .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing,
  .cid-qRFTOqZVwC .navbar-collapse.show {
    display: block !important;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-nav,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-buttons,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qRFTOqZVwC .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qRFTOqZVwC .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qRFTOqZVwC .navbar-collapse {
  flex-basis: auto;
}
.cid-qRFTOqZVwC .nav-link:hover,
.cid-qRFTOqZVwC .dropdown-item:hover {
  color: #ffffff !important;
}
.cid-qRKE0yvooJ {
  padding-top: 120px;
  padding-bottom: 30px;
  background-image: url("../img/ac-plenario-vazio-foto-antonio-cruz-18122015.jpg");
}
.cid-qRKE0yvooJ H2 {
  text-align: left;
  color: #ecf0f5;
}
.cid-qRKE0yvooJ .mbr-section-subtitle {
  text-align: left;
}
.cid-qRKE6myU5k {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ecf0f5;
}
.cid-qRKE6myU5k .title {
  margin-bottom: 2rem;
}
.cid-qRKE6myU5k .mbr-section-subtitle {
  color: #767676;
}
.cid-qRKE6myU5k a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qRKE6myU5k a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qRKE6myU5k .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qRKE6myU5k .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qRKE6myU5k H2 {
  color: #484581;
}
.cid-qRKE2Zef5U {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #484581;
}
@media (max-width: 767px) {
  .cid-qRKE2Zef5U .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qRKE2Zef5U .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-qRKE2Zef5U .media-wrap img {
  
}
.cid-qRKE2Zef5U .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-qRKE2Zef5U .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qRKE2Zef5U .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-qRKE2Zef5U .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qRKE2Zef5U .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-qRKE2Zef5U .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qRKE2Zef5U .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qRKE2Zef5U .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qRKE2Zef5U .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qRKE2Zef5U .copyright > p {
  color: #ecf0f5;
}
.cid-qRFTOqZVwC .navbar {
  background: #605ca8;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qRFTOqZVwC .navbar-dropdown.bg-color.transparent.opened {
  background: #605ca8;
}
.cid-qRFTOqZVwC a {
  font-style: normal;
}
.cid-qRFTOqZVwC .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qRFTOqZVwC .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qRFTOqZVwC .nav-item:focus,
.cid-qRFTOqZVwC .nav-link:focus {
  outline: none;
}
.cid-qRFTOqZVwC .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qRFTOqZVwC .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qRFTOqZVwC .menu-logo {
  margin-right: auto;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu {
  background: #605ca8;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qRFTOqZVwC .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qRFTOqZVwC .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qRFTOqZVwC button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qRFTOqZVwC button.navbar-toggler:focus {
  outline: none;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRFTOqZVwC .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qRFTOqZVwC .collapsed .btn {
  display: flex;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qRFTOqZVwC .collapsed button.navbar-toggler {
  display: block;
}
.cid-qRFTOqZVwC .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qRFTOqZVwC .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qRFTOqZVwC.navbar-expand {
    flex-direction: column;
  }
  .cid-qRFTOqZVwC img {
    height: 3.8rem !important;
  }
  .cid-qRFTOqZVwC .btn {
    display: flex;
  }
  .cid-qRFTOqZVwC button.navbar-toggler {
    display: block;
  }
  .cid-qRFTOqZVwC .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qRFTOqZVwC .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qRFTOqZVwC .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing,
  .cid-qRFTOqZVwC .navbar-collapse.show {
    display: block !important;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-nav,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-buttons,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qRFTOqZVwC .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qRFTOqZVwC .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qRFTOqZVwC .navbar-collapse {
  flex-basis: auto;
}
.cid-qRFTOqZVwC .nav-link:hover,
.cid-qRFTOqZVwC .dropdown-item:hover {
  color: #ffffff !important;
}
.cid-qRKFDXhsw6 {
  padding-top: 75px;
  padding-bottom: 0px;
  background-image: url("../img/ac-plenario-vazio-foto-antonio-cruz-18122015.jpg");
}
.cid-qRKFDXhsw6 .media-container-column {
  align-items: center;
}
.cid-qRKFDXhsw6 .mbr-author-desc {
  display: block;
}
.cid-qRKFDXhsw6 .mbr-testimonial {
  flex-basis: auto;
  margin-top: 5rem;
}
.cid-qRKFDXhsw6 .mbr-testimonial .panel-item {
  background-color: #484581;
  background: linear-gradient(#484581, transparent);
}
.cid-qRKFDXhsw6 .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2rem;
}
.cid-qRKFDXhsw6 .mbr-testimonial .card-block .testimonial-photo {
  margin-top: -5rem;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-qRKFDXhsw6 .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-qRKFDXhsw6 .mbr-testimonial .card-block p {
  margin: 0;
}
.cid-qRKFDXhsw6 .mbr-testimonial .card-footer {
  padding: 0 2rem 2rem 2rem;
  border-top: 0;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 260px) {
  .cid-qRKFDXhsw6 .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-qRKGWwYaZR {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #484581;
}
@media (max-width: 767px) {
  .cid-qRKGWwYaZR .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qRKGWwYaZR .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-qRKGWwYaZR .media-wrap img {
  
}
.cid-qRKGWwYaZR .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-qRKGWwYaZR .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qRKGWwYaZR .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-qRKGWwYaZR .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qRKGWwYaZR .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-qRKGWwYaZR .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qRKGWwYaZR .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qRKGWwYaZR .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qRKGWwYaZR .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qRKGWwYaZR .copyright > p {
  color: #ecf0f5;
}
.cid-qRFTOqZVwC .navbar {
  background: #605ca8;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qRFTOqZVwC .navbar-dropdown.bg-color.transparent.opened {
  background: #605ca8;
}
.cid-qRFTOqZVwC a {
  font-style: normal;
}
.cid-qRFTOqZVwC .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qRFTOqZVwC .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qRFTOqZVwC .nav-item:focus,
.cid-qRFTOqZVwC .nav-link:focus {
  outline: none;
}
.cid-qRFTOqZVwC .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qRFTOqZVwC .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qRFTOqZVwC .menu-logo {
  margin-right: auto;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qRFTOqZVwC .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu {
  background: #605ca8;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qRFTOqZVwC .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qRFTOqZVwC .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qRFTOqZVwC .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qRFTOqZVwC .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qRFTOqZVwC .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qRFTOqZVwC button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qRFTOqZVwC button.navbar-toggler:focus {
  outline: none;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qRFTOqZVwC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qRFTOqZVwC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qRFTOqZVwC .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qRFTOqZVwC .collapsed .btn {
  display: flex;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qRFTOqZVwC .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qRFTOqZVwC .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qRFTOqZVwC .collapsed button.navbar-toggler {
  display: block;
}
.cid-qRFTOqZVwC .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qRFTOqZVwC .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qRFTOqZVwC .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qRFTOqZVwC .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qRFTOqZVwC.navbar-expand {
    flex-direction: column;
  }
  .cid-qRFTOqZVwC img {
    height: 3.8rem !important;
  }
  .cid-qRFTOqZVwC .btn {
    display: flex;
  }
  .cid-qRFTOqZVwC button.navbar-toggler {
    display: block;
  }
  .cid-qRFTOqZVwC .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qRFTOqZVwC .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qRFTOqZVwC .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing,
  .cid-qRFTOqZVwC .navbar-collapse.show {
    display: block !important;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-nav,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-buttons,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qRFTOqZVwC .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qRFTOqZVwC .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qRFTOqZVwC .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qRFTOqZVwC .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qRFTOqZVwC .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qRFTOqZVwC .navbar-collapse {
  flex-basis: auto;
}
.cid-qRFTOqZVwC .nav-link:hover,
.cid-qRFTOqZVwC .dropdown-item:hover {
  color: #ffffff !important;
}
.cid-qRKJclofxo {
  padding-top: 120px;
  padding-bottom: 30px;
  background-image: url("../img/ac-plenario-vazio-foto-antonio-cruz-18122015.jpg");
}
.cid-qRKJclofxo H2 {
  text-align: left;
  color: #ecf0f5;
}
.cid-qRKJclofxo .mbr-section-subtitle {
  text-align: left;
}
.cid-qRKJgb62FO {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ecf0f5;
}
.cid-qRKJgb62FO .mbr-section-subtitle {
  color: #767676;
}
.cid-qRKJgb62FO .container-table {
  margin: 0 auto;
}
.cid-qRKJgb62FO .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-qRKJgb62FO .dataTables_wrapper {
  display: block;
}
.cid-qRKJgb62FO .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-qRKJgb62FO .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-qRKJgb62FO table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
}
.cid-qRKJgb62FO table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-qRKJgb62FO table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-qRKJgb62FO table td {
  border-top: 1px solid #cccccc;
}
.cid-qRKJgb62FO table.table {
  background: #ffffff;
}
.cid-qRKJgb62FO .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-qRKJgb62FO .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-qRKJgb62FO .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-qRKJgb62FO .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-qRKJgb62FO .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-qRKJgb62FO .dataTables_filter {
    text-align: center;
  }
  .cid-qRKJgb62FO .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-qRKJeyTsba {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #484581;
}
@media (max-width: 767px) {
  .cid-qRKJeyTsba .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qRKJeyTsba .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-qRKJeyTsba .media-wrap img {
  
}
.cid-qRKJeyTsba .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-qRKJeyTsba .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qRKJeyTsba .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-qRKJeyTsba .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qRKJeyTsba .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-qRKJeyTsba .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qRKJeyTsba .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qRKJeyTsba .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qRKJeyTsba .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qRKJeyTsba .copyright > p {
  color: #ecf0f5;
}
