﻿!-- TÍTULO -->
<section class="mbr-section content5 cid-qRKDq0puBd mbr-parallax-background" id="content5-w">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(72, 69, 129);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-12">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    BoxPlot
                </h2>
            </div>
        </div>
    </div>
</section>
<br/>
<!-- FIM TÍTULO -->
<!-- CONTEÚDO -->
<!-- FILTRO -->
<div class="row">
    <div class="col-md-6">
        <form style="margin-bottom: 20px;">
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control" data-val="true" id="ano_id">
                        <option value="0">Ano</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-control" id="mes_id">
                        <option value="0">Mês</option>
                        <option value="1">Janeiro</option>
                        <option value="2">Fevereiro</option>
                        <option value="3">Março</option>
                        <option value="4">Abril</option>
                        <option value="5">Maio</option>
                        <option value="6">Junho</option>
                        <option value="7">Julho</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>

                    </select>

                </div>

            </div>

        </form>

    </div>
  </div>
<!-- FILTRO -->
<section class="mbr-section padding-20" id="">
    <div class="container" style="height: 500px;">
        <head>
            <script src="~/js/plotly-latest.min.js"></script>
        </head>
        <body>
            <div id="myDiv"></div>

            <script>
                var y0 = [300000.00,
                    1029576.12,
                    1000000.00,
                    300000.00,
                    300000.00,
                    368710.86,
                    500000.00,
                    535653.65,
                    549422.25,
                    500000.00,
                    169901.93,
                    199981.83,
                    408548.02,
                    1303031.82,
                    1029600.00,
                    313428.78,
                    410000.00,
                    547162.58,
                    1030718.23,
                    1849398.33], y1 = [285622.09,
                        277659.97,
                        791006.07,
                        200000.00,
                        245850.00,
                        274600.00,
                        710000.00,
                        645000.00,
                        400000.00,
                        689481.64,
                        300000.00,
                        250000.00,
                        600000.00,
                        310000.00,
                        430000.00,
                        250000.00,
                        453500.00,
                        301326.53,
                        250000.00,
                        550000.00,
                        200000.00,
                        1032469.36,
                        251250.00,
                        520957.22,
                        251000.00,
                        268071.49,
                        818793.32,
                        259790.35,
                        760362.24,
                        250000.00,
                        150000.00,
                        306156.00,
                        276073.64,
                        260148.02,
                        268947.12,
                        340900.00,
                        400000.00,
                        552850.40,
                        416883.26,
                        200000.00,
                        450000.00], y2 = [253750.00,
                            303489.30,
                            644805.13,
                            300000.00,
                            254750.00,
                            687509.84,
                            307600.00,
                            350000.00,
                            502432.96,
                            251891.22,
                            250000.00,
                            817150.67,
                            250913.01,
                            306851.60,
                            319611.29,
                            260886.67,
                            200000.00,
                            499500.00,
                            248750.00,
                            309355.04,
                            814993.94,
                            400000.00,
                            690900.00,
                            111120.00,
                            338500.00,
                            268880.38,
                            415477.41,
                            849409.40,
                            250000.00,
                            310736.93,
                            200000.00,
                            739769.21,
                            1093077.24,
                            455650.00,
                            593100.00,
                            368623.93,
                            250000.00,
                            200000.00,
                            1582624.05,
                            326588.70,
                            493100.00,
                            444000.00,
                            264328.95,
                            668296.38,
                            263000.00,
                            709317.37,
                            200000.00,
                            210000.00,
                            250000.00,
                            673496.02,
                            204500.00,
                            257000.00,
                            380000.00,
                            497357.93,
                            256000.00,
                            599571.71,
                            1011860.69,
                            256250.00,
                            250000.00,
                            1150000.00,
                            821280.00,
                            250000.00,
                            250000.00,
                            547114.31,
                            594694.15,
                            558659.31,
                            100000.00,
                            220000.00,
                            307278.92,
                            508000.00,
                            274044.71,
                            756102.58,
                            378743.75,
                            1012600.00,
                            477795.35,
                            817102.75,
                            180000.00,
                            600000.00,
                            238186.00,
                            493100.00,
                            791926.57,
                            315495.93,
                            248750.00,
                            250000.00,
                            1741250.00,
                            500000.00,
                            694782.57,
                            465000.00,
                            775000.00,
                            155000.00,
                            562345.95,
                            600000.00,
                            285698.31,
                            360000.00,
                            978513.96,
                            250000.00,
                            400000.00,
                            524334.44,
                            250000.00,
                            260506.74,
                            429557.30,
                            2245235.86,
                            250000.00,
                            2342275.85,
                            583531.08,
                            493100.00,
                            1124388.20,
                            581944.62,
                            290000.00,
                            447704.08,
                            250000.00,
                            2342275.85,
                            322332.42,
                            361956.63,
                            150000.00,
                            250000.00,
                            1015879.84,
                            1017000.00,
                            500000.00,
                            324076.48,
                            501931.75,
                            298500.00,
                            500000.00,
                            250000.00,
                            698835.02,
                            500000.00,
                            252698.73]

                //for ( i = 0; i < 50; i ++)
                //{
                //    y0[i] = Math.random();
                //}
                //for ( i = 0; i < 40; i ++)
                //{
                //    y1[i] = Math.random();
                //}
                //for ( i = 0; i < 80; i ++)
                //{
                //    y2[i] = Math.random();
                //}
                var trace1 = {
                    y: y0,
                    boxpoints: 'all',
                    jitter: 0.3,
                    pointpos: -1.8,
                    type: 'box',
                    name: 2011
                };

                var trace2 = {
                    y: y1,
                    boxpoints: 'all',
                    jitter: 0.3,
                    pointpos: -1.8,
                    type: 'box',
                    name: 2012
                };
                var trace3 = {
                    y: y2,
                    boxpoints: 'all',
                    jitter: 0.3,
                    pointpos: -1.8,
                    type: 'box',
                    name: 2013
                };
                var data = [trace1, trace2, trace3];

                Plotly.newPlot('myDiv', data);
            </script>

        </body>
    </div>
</section>
<!-- FIM CONTEÚDO -->
