﻿@*@using Model.Model.Dto
    @model State*@
<!-- TÍTULO -->

<section class="mbr-section content5 cid-qRKDq0puBd mbr-parallax-background" id="content5-w">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(72, 69, 129);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-12">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    @ViewBag.Estado
                    </h2>
              
            </div>
        </div>
    </div>
</section>
<!-- FIM TÍTULO -->
<!-- CONTEÚDO -->
<section class="mbr-section padding-20" id="">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-dashboard"></i> Início</a></li>
            <span>&nbsp;/&nbsp;</span>
            @ViewBag.Estado
            
            </div>

         </ol>
       
        <div class="">
                  xxxz\\\   ''''
            <!-- TABELAS -->
            <div class="row">

                <div class="col-md-6">

                    <!-- BLOCO -->
                    <div class="box box-success">
                        <div class="box-header with-border bg-color">
                            <i class="fa fa-table"></i>
                            <h3 class="box-title">Números: Total ou <label id="mes_label" value="Mês">Mês</label>/<label id="ano_label" value="Ano">Ano</label></h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Total de Propostas</td>
                                        <td>  <label id="totalpropostas" /></td>
                                    </tr>
                                    <tr>
                                        <td>Total de Convênios</td>
                                        <td> <label id="totalconvenios" /> </td>
                                    </tr>
                                    <tr>
                                        <td>Valor Total das Propostas</td>
                                        <td>R$ <label id="valortotaldaspropostas" class="decimal" /></td>
                                    </tr>
                                    <tr>
                                        <td>Valor Total dos Convênios</td>
                                        <td>R$ <label id="valortotaldosconvenios" /></td>
                                    </tr>
                                    <tr>
                                        <td>Valor Total das Contrapartidas</td>
                                        <td>R$ <label id="valortotaldascontrapartidas" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /BLOCO -->
                    <!-- BLOCO -->
                    <div class="box box-success">
                        <div class="box-header with-border bg-color">
                            <i class="fa fa-table"></i>
                            <h3 class="box-title">Parlamentares</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody id="tabela_parlamentar">
                                    <tr>
                                        <th>Parlamentar</th>
                                        <th>Qtd. Convênios</th>
                                    </tr>
                                    <tr>
                                        <td><a href="parlamentar.html">Fulano</a></td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Cicrano</td>
                                        <td>45</td>
                                    </tr>
                                    <tr>
                                        <td>Beltrano</td>
                                        <td>67</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /BLOCO -->
                    <!-- BLOCO -->
                    <!-- /BLOCO -->
                </div>

           
                <div class="col-md-6">

            

                    <!-- BLOCO -->
                    <div class="box box-success">
                        <div class="box-header with-border bg-color">
                            <i class="fa fa-table"></i>
                            <h3 class="box-title">Situação dos Convênios:  </h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody id="tabela">
                                    <tr>
                                        <td>Aracaju</td>
                                        <td>123</td>
                                    </tr>
                                    <tr>
                                        <td>Estância</td>
                                        <td>32</td>
                                    </tr>
                                    <tr>
                                        <td>Itabaiana</td>
                                        <td>45</td>
                                    </tr>
                                    <tr>
                                        <td>Lagarto</td>
                                        <td>67</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /BLOCO -->
                    <!-- BLOCO -->
                    <div class="box box-success">
                        <div class="box-header with-border bg-color">
                            <i class="fa fa-table"></i>
                            <h3 class="box-title">Cidades</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody id="tabela_cidade">
                                    <tr>
                                        <th>Cidade</th>
                                        <th>Qtd. Convênios</th>
                                        <th>Valor</th>
                                    </tr>
                                    <tr>
                                        <td>Aracaju</td>
                                        <td>123</td>
                                        <td>R$ xxx,xx</td>
                                    </tr>
                                    <tr>
                                        <td>Estância</td>
                                        <td>32</td>
                                        <td>R$ xxx,xx</td>
                                    </tr>
                                    <tr>
                                        <td>Itabaiana</td>
                                        <td>45</td>
                                        <td>R$ xxx,xx</td>
                                    </tr>
                                    <tr>
                                        <td>Lagarto</td>
                                        <td>67</td>
                                        <td>R$ xxx,xx</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /BLOCO -->
                    <!-- BLOCO -->
                    <div class="box box-success">
                        <div class="box-header with-border bg-color">
                            <i class="fa fa-table"></i>
                            <h3 class="box-title">Áreas</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody id="tabela_areas">
                                    <tr>
                                        <th>Área</th>
                                        <th>Qtd. Convênios</th>
                                        <th>Valor</th>
                                    </tr>
                                    <tr>
                                        <td>Aracaju</td>
                                        <td>123</td>
                                        <td>R$ xxx,xx</td>
                                    </tr>
                                    <tr>
                                        <td>Estância</td>
                                        <td>32</td>
                                        <td>R$ xxx,xx</td>
                                    </tr>
                                    <tr>
                                        <td>Itabaiana</td>
                                        <td>45</td>
                                        <td>R$ xxx,xx</td>
                                    </tr>
                                    <tr>
                                        <td>Lagarto</td>
                                        <td>67</td>
                                        <td>R$ xxx,xx</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /BLOCO -->

                </div>

            </div>
            <!-- TABELAS -->
        </div>
    </div>

</section>
<!-- FIM CONTEÚDO -->

<script src="~/js/jquery.min.js" type="text/javascript"></script>
<script src="~/js/popper.min.js" type="text/javascript"></script>
<script src="~/js/tether.min.js" type="text/javascript"></script>
<script src="~/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/js/smooth-scroll.js" type="text/javascript"></script>
<script src="~/js/dropdown.min.js" type="text/javascript"></script>
<script src="~/js/jquery.viewportchecker.js" type="text/javascript"></script>
<script src="~/js/jarallax.min.js" type="text/javascript"></script>
<script src="~/js/jquery.countdown.min.js" type="text/javascript"></script>
<script src="~/js/jquery.touch-swipe.min.js" type="text/javascript"></script>
<script src="~/js/theme.js" type="text/javascript"></script>
<script src="~/js/formoid.min.js " type="text/javascript"></script>

<script src="~/js/jquery.backstretch.js" type="text/javascript"></script>
<script src="~/js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
<script src="~/js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
<script src="~/js/jquery.maskMoney.js" type="text/javascript"></script>
<script src="~/js/jquery.sharrre.js" type="text/javascript"></script>
<script src="~/js/jquery.validate.js" type="text/javascript"></script>
<script src="~/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/js/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="~/js/jquery-2.2.2.js" type="text/javascript"></script>
<script src="~/js/jquery-jvectormap.js" type="text/javascript"></script>
<script src="~/js/jquery-ui.min.js" type="text/javascript"></script>
<script>

    function Pesquisar() {
        $.ajax({
            type: "get",
            url: "@Url.Content("~") /api/Pesquisar",
            data: { ano: $('#ano_id').val(), mes: $('#mes_id').val() },
                cache: false,
            success: function (json) {
               
                $('#valortotaldaspropostas').text(json["valortotaldaspropostas"]);
                $('#totalconvenios').text(json["totalconvenios"]);
                $('#totalpropostas').text(json["totalpropostas"]);
                $('#valortotaldosconvenios').text(json["valortotaldosconvenios"]);
                $('#valortotaldascontrapartidas').text(json["valortotaldascontrapartidas"]);
                }
        });

        $('#tabela_cidade').empty();
        $.ajax({
            type: 'get',
            dataType: 'Json',
            data: { ano: $('#ano_id').val(), mes: $('#mes_id').val() },
            url: "@Url.Content("~") /api/getallCidade",
            success: function (dados) {

                for (var i = 0; dados.length > i; i++) {
                    $('#tabela_cidade').append('<tr><td>' + dados[i].cidade + '</td><td>' + dados[i].qtdconvenio + '</td><td>' + dados[i].vl_total + '</td></tr>');
                }
            }
        });

        $('#tabela').empty();
         $.ajax({
            type: 'get',
             dataType: 'Json',
            data: { ano: $('#ano_id').val(), mes: $('#mes_id').val()},
            url: "@Url.Content("~") /api/getall",
             success: function (dados) {
                
                for (var i = 0; dados.length > i; i++) {
                    $('#tabela').append('<tr><td>' + dados[i].cidade + '</td><td>' + dados[i].qtdconvenio +  '</td></tr>');
                }
            }
        });

        $('#tabela_areas').empty();
        $.ajax({
            type: 'get',
            dataType: 'Json',
            data: { ano: $('#ano_id').val(), mes: $('#mes_id').val() },
            url: "@Url.Content("~") /api/getallareas",
            success: function (dados) {
                for (var i = 0; dados.length > i; i++) {
                    $('#tabela_areas').append('<tr><td>' + dados[i].area + '</td><td>' + dados[i].valor + '</td><td>' );
                }
            }
        });

        @*$('#tabela_favorecidos').empty();
        $.ajax({
            type: 'get',
            dataType: 'Json',
            data: { ano: $('#ano_id').val(), mes: $('#mes_id').val() },
            url: "@Url.Content("~") /api/getallCidadesFavorecidas",
            success: function (dados) {
                for (var i = 0; dados.length > i; i++) {
                    $('#tabela_favorecidos').append('<tr><td>' + dados[i].cidade_favorecida + '</td><td>' + dados[i].valor + '</td><td>' );
                }
            }
        });*@
         

        $('#tabela_parlamentar').empty();
        $.ajax({
            type: 'get',
            dataType: 'Json',
            data: { ano: $('#ano_id').val(), mes: $('#mes_id').val() },
            url: "@Url.Content("~") /api/getallParlamentares",
            success: function (dados) {
                for (var i = 0; dados.length > i; i++) {
                    $('#tabela_parlamentar').append('<tr><td>' + dados[i].nome_parlamentar + '</td><td>' + dados[i].qtdconvenio + '</td><td>' );
                }
            }
        });
    }

    $('#ano_id').change(function () {
        $('#ano_label').text($('#ano_id').val());
        Pesquisar();
    });

    $('#mes_id').change(function () {
        $('#mes_label').text($('#mes_id').val());
        Pesquisar();
    });

    $(document).ready(function () {
        Pesquisar();
    });

    $('.decimal').maskMoney({
        prefix: '',
        thousands: '.',
        precision: 2,
        defaultZero: true,
        allowZero: false,
        allowNegative: false,
        decimal: ',',
        affixesStay: true
    });
</script>

