﻿<!-- PARLAMENTAR -->
<section class="testimonials5 cid-qRKFDXhsw6" id="testimonials5-13">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(72, 69, 129);"></div>
    <div class="container">
        <div class="media-container-column">
            <div class="mbr-testimonial align-center col-12 col-md-10">
                <div class="panel-item">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="img/parlamentar.jpg">
                        </div>
                        <p class="mbr-text mbr-fonts-style mbr-white display-2"><strong>Fulano da Silva</strong></p>
                        <p class="mbr-text mbr-white" style="font-size: 1.3rem;">Deputado Estadual</p>
                    </div>
                    <div class="card-footer row">
                        <div class="col-md-4">
                            <div class="mbr-author-name mbr-bold mbr-fonts-style mbr-white display-7">
                                Qtd. de Convênios
                            </div>
                            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style mbr-white display-7">
                                123
                            </small>
                        </div>
                        <div class="col-md-4">
                            <div class="mbr-author-name mbr-bold mbr-fonts-style mbr-white display-7">
                                Cidades Favorecidas
                            </div>
                            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style mbr-white display-7">
                                67
                            </small>
                        </div>
                        <div class="col-md-4">
                            <div class="mbr-author-name mbr-bold mbr-fonts-style mbr-white display-7">
                                Valor Total
                            </div>
                            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style mbr-white display-7">
                                R$ 1.245.458,00
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIM PARLAMENTAR -->
<!-- CONTEÚDO -->
<section class="mbr-section padding-20" id="">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-dashboard"></i> Início</a></li>
            <span>&nbsp;/&nbsp;</span>
            <li class="active">Parlamentar</li>
        </ol>
        <!-- TABELAS -->
        <div class="row">
            <div class="col-md-6">
                <!-- BLOCO -->
                <div class="box box-success">
                    <div class="box-header with-border bg-color">
                        <i class="fa fa-table"></i>
                        <h3 class="box-title">Exemplo de Tabela</h3>

                        <!--<div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>-->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Título</th>
                                    <th>Título</th>
                                </tr>
                                <tr>
                                    <td>Item</td>
                                    <td>Item</td>
                                </tr>
                                <tr>
                                    <td>Item</td>
                                    <td>Item</td>
                                </tr>
                                <tr>
                                    <td>Item</td>
                                    <td>Item</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /BLOCO -->
                <!-- BLOCO -->
                <div class="box box-success">
                    <div class="box-header with-border bg-color">
                        <i class="fa fa-table"></i>
                        <h3 class="box-title">Exemplo de Gráfico</h3>

                        <!--<div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>-->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body chart-responsive">
                        <canvas id="myChart" style="height: auto;"></canvas>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /BLOCO -->

            </div>

            <div class="col-md-6">
                <!-- BLOCO -->
                <div class="box box-success">
                    <div class="box-header with-border bg-color">
                        <i class="fa fa-table"></i>
                        <h3 class="box-title">Exemplo de Tabela</h3>

                        <!--<div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>-->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Título</th>
                                    <th>Título</th>
                                </tr>
                                <tr>
                                    <td>Item</td>
                                    <td>Item</td>
                                </tr>
                                <tr>
                                    <td>Item</td>
                                    <td>Item</td>
                                </tr>
                                <tr>
                                    <td>Item</td>
                                    <td>Item</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /BLOCO -->
                <!-- BLOCO -->
                <div class="box box-success">
                    <div class="box-header with-border bg-color">
                        <i class="fa fa-table"></i>
                        <h3 class="box-title">Exemplo de Gráfico</h3>

                        <!--<div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>-->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body chart-responsive">
                        <canvas id="myChart2" style="height: auto;"></canvas>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /BLOCO -->

            </div>

        </div>
        <!-- /TABELAS -->
    </div>
</section>
<!-- FIM CONTEÚDO -->