﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <meta name="description" content="Transparência Traduzida">
    <title>Transparência Traduzida</title>
    <!-- OPEN GRAPH -->
    <meta property="og:site_name" content="Transparência Traduzida" />
    <meta property="og:url" content="http://www.transparenciatraduzida.com.br" />
    <meta property="og:image" content="http://www.transparenciatraduzida.com.br/img/favicon.png" />
    <meta property="og:locale" content="pt_BR" />
    <!-- HUMANS -->
    <link rel="author" href="doc/humans.txt" />

    <!-- ESTILOS -->

  


    <link rel="stylesheet" href="~/css/transparencia-icons.css">
    <link rel="stylesheet" href="~/css/tether.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/css/dropdown.css">
    <link rel="stylesheet" href="~/css/socicon.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/mbr-additional.css">
    <link rel="stylesheet" href="~/css/mod.css">
</head>
<body>
    <!-- MENU -->
    <section class="menu cid-qRFTOqZVwC" once="menu" id="menu2-b">
        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="index.html">
                            <img src="~/images/logotipo-5.png" alt="Transparência Traduzida" title="Transparência Traduzida" style="height: 3.8rem;">
                        </a>
                    </span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-warning display-4" href="@Url.Content("~/Home/index")">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-warning display-4" href="@Url.Content("~/Home/sobre")">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-warning display-4" href="@Url.Content("~/Glossario/glossario")">Glossário</a>
                    </li>
                </ul>
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-sm btn-info display-4" href="@Url.Content("~/Home/Contato")">Contato</a>
                </div>
            </div>
        </nav>
    </section>
    <!-- FIM MENU -->
    @RenderBody()
    <!-- RODAPÉ -->
    <section class="cid-qRGh6yOpv4" id="">
        <div class="container">
            <div class="media-container-row">
                <div class="col-md-3">
                    <div class="media-wrap">
                        <a href="index.html">
                            <img src="~/images/logotipo-5.png" alt="Transparência Traduzida" title="Transparência Traduzida">
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <p class="mbr-text align-right links mbr-fonts-style display-7">
                        <a href="@Url.Content("~/Home/index")" class="text-warning">Início</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="@Url.Content("~/Glossario/glossario")" class="text-warning">Glossário</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="@Url.Content("~/Home/contato")" class="text-warning">Contato</a>
                    </p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-md-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7">Transparência Traduzida © 2018 - Todos os direitos reservados</p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">
                                <a href="index.html"><span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(236, 240, 245);"></span></a>
                            </div>
                            <div class="soc-item">
                                <a href="index.html"><span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(236, 240, 245);"></span></a>
                            </div>
                            <div class="soc-item">
                                <a href="index.html"><span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon" style="color: rgb(236, 240, 245);"></span></a>
                            </div>
                            <div class="soc-item">

                                <a href="index.html"><span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(236, 240, 245);"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FIM RODAPÉ -->

    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/popper.min.js" type="text/javascript"></script>
    <script src="~/js/tether.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/smooth-scroll.js" type="text/javascript"></script>
    <script src="~/js/dropdown.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="~/js/jarallax.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.countdown.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.touch-swipe.min.js" type="text/javascript"></script>
    <script src="~/js/theme.js" type="text/javascript"></script>
    <script src="~/js/formoid.min.js " type="text/javascript"></script>

    <script src="~/js/jquery.backstretch.js" type="text/javascript"></script>
    <script src="~/js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.maskMoney.js" type="text/javascript"></script>
    <script src="~/js/jquery.sharrre.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.unobtrusive.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-2.2.2.js" type="text/javascript"></script>
    <script src="~/js/jquery-jvectormap.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui.min.js" type="text/javascript"></script>

    @RenderSection("scripts", required: false)

    <div id="scrollToTop" class="scrollToTop mbr-arrow-up">
        <a style="text-align: center;"><i></i></a>
    </div>
    <input name="animation" type="hidden">
</body>
</html>
<!-- SCRIPTS -->
<!-- FIM SCRIPTS -->