﻿<!-- TÍTULO -->
<section class="mbr-section content5 cid-qRKDq0puBd mbr-parallax-background" id="content5-w">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(72, 69, 129);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-12">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    Glossário
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- FIM TÍTULO -->
<!-- CONTEÚDO -->
<section class="mbr-section padding-20" id="">
    <div class="container" style="height: 400px;">
        <h3>Esta página ainda não tem conteúdo.</h3>
    </div>
</section>
<!-- FIM CONTEÚDO -->
